.languages {
  position: relative;
}
.lang-options {
  position: absolute;
}
.lang-selected {
  padding: 5px;
  display: flex;
  align-items: center;
}
.lang-selected,
.lang-option {
  cursor: pointer;
}
.lang-options {
  top: 27px;
  display: block;
  background-color: var(--white-color);
  border: 1px solid var(--grey-color-2);
  border-radius: 4px;
  overflow: hidden;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}

.lang-selected img,
.lang-option img {
  width: 14px;
  height: 12px;
  border-radius: 2px;
}
.lang-selected span,
.lang-option span {
  font-size: var(--size-09);
  margin-left: 3px;
}

.lang-option {
  padding: 4px;
}
