.users {
  position: relative;
  width: 100%;
  height: 100%;
}
.users .inner,
.users .outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* Inner */
.users .inner {
  display: block;
}
.users .inner .t-1 {
  color: var(--black-color);
  font-size: var(--size-102);
  font-weight: 700;
}
.users .inner .t-1 span {
  color: var(--grey-color-1);
  font-size: var(--size-08);
}
.users .inner .actions {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-02) 0;
}
.users .inner .actions .left {
  display: flex;
}
.users .inner .actions .left .inputs-form {
  position: relative;
}
.users .inner .actions .left .inputs-form input {
  position: relative;
  width: 300px;
  height: 100%;
  padding: var(--size-02) var(--size-02) var(--size-02) var(--size-107);
  border-radius: var(--size-05);
  border: 1px solid var(--grey-color-2);
}
.users .inner .actions .left .inputs-form .icon {
  position: absolute;
  top: var(--size-05);
  left: var(--size-03);
  z-index: 1;
}
.users .inner .actions .left .button {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
.users .inner .actions .left .button .icon {
  margin-right: var(--size-07);
}
.users .inner .actions .left select {
  border-radius: var(--size-05);
  border-color: var(--grey-color-2);
  font-size: var(--size-08);
  padding: var(--size-02);
}
.users .inner .actions .right {
  max-width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.users .inner .actions .right .button {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
.users .inner .actions .right .button:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.users .inner .actions .right .button .icon {
  margin-right: var(--size-05);
}
.users .inner .actions .right .button.btn-new {
  background-color: var(--color-1);
}
.users .inner .actions .right .button.btn-export {
  background-color: var(--black-color);
}
.users .inner .actions .right .button.btn-validate {
  background-color: var(--green-color);
}
.users .inner .content {
  width: 100%;
  height: calc(100% - 80px);
}
.users .inner .content .table thead tr{
  background-color: var(--white-color);
}
.users .inner .content .table .row {
  display: flex;
  align-items: center;
}
.users .inner .content .table .row img {
  width: 35px;
  height: 35px;
  border: 1px solid var(--grey-color-2);
  border-radius: 100%;
  padding: var(--size-02);
  margin-right: var(--size-03);
}
.users .inner .content .table .row span {
  font-size: var(--size-1);
  font-weight: 700;
}
.users .inner .content .table .btn-action {
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
/* Outer */
.users .outer {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: var(--size-1);
}
.users .outer .wrapper {
  width: 50%;
  background-color: var(--white-color);
  border-radius: var(--size-05);
  margin: auto;
  padding: var(--size-05);
}
.users .outer .wrapper .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users .outer .wrapper .head .t-2 {
  margin: 0;
  font-size: var(--size-1);
  font-weight: 600;
}
.users .outer .wrapper .head span {
  cursor: pointer;
  font-size: var(--size-2);
}
.users .outer .wrapper hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--grey-color-2);
  margin: var(--size-1) 0;
}
.users .outer .wrapper form {
  width: 100%;
}
.users .outer .wrapper form .img-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--size-05) 0;
}
.users .outer .wrapper form .img-wrapper img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid var(--grey-color-2);
  padding: var(--size-02);
  margin-bottom: var(--size-08);
}
.users .outer .wrapper form .img-wrapper .button {
  width: 20%;
  background-color: var(--black-color);
  font-size: var(--size-06);
  margin: var(--size-08) 0;
}
.users .outer .wrapper form .row {
  display: flex;
  justify-content: space-between;
}
.users .outer .wrapper form .row .input-div {
  width: 49%;
}
.users .outer .wrapper form .button {
  width: 100%;
  background-color: var(--color-1);
}
