.school-details {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--grey-color-3);
}
.school-details .inner,
.school-details .outer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.school-details .inner {
  width: 100%;
  height: 100%;
  display: flex;
}
.school-details .inner .sd-left,
.school-details .inner .sd-right {
  height: 100%;
}
.school-details .inner .sd-left {
  width: 20%;
  border-right: 1px solid var(--white-color);
  display: block;
}
.school-details .inner .sd-left .button {
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  font-size: var(--size-07);
}
.school-details .inner .sd-left .button .icon {
  margin-right: var(--size-05);
}
.school-details .inner .sd-left .sd-left-head {
  width: 100%;
  text-align: center;
  padding: var(--size-1) 0;
}
.school-details .inner .sd-left .sd-left-head span {
  color: var(--grey-color-1);
  font-family: 600;
}
.school-details .inner .sd-left .sd-left-head .t-2 {
  color: var(--black-color);
  font-size: var(--size-105);
  font-weight: 800;
  margin: 0;
}
.school-details .inner .sd-left .sd-left-details {
  display: block;
}
.school-details .inner .sd-left .sd-left-details .column {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-05);
}
.school-details .inner .sd-left .sd-left-details .column .t-2 {
  font-weight: 600;
}
/*  */
.school-details .inner .sd-right {
  width: 80%;
  padding: var(--size-02);
}
.school-details .inner .sd-right .sdr-header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-05);
}
.school-details .inner .sd-right .sdr-header .t-2 {
  margin: 0;
  font-size: var(--size-1);
  font-weight: 700;
}
.school-details .inner .sd-right .sdr-header .t-2 span {
  font-size: var(--size-08);
  font-weight: 500;
}
.school-details .inner .sd-right .sdr-header .sdr-search-box {
}
.school-details .inner .sd-right .sdr-header .sdr-actions {
  display: flex;
  align-items: center;
}
.school-details .inner .sd-right .sdr-header .sdr-actions .button {
  color: var(--color-4);
  font-size: var(--size-07);
  margin-right: var(--size-03);
}
.school-details
  .inner
  .sd-right
  .sdr-header
  .sdr-actions
  .button.btn-activation {
  background-color: var(--black-color);
  color: var(--white-color);
}
.school-details .inner .sd-right .sdr-header .sdr-actions .button.btn-new {
  background-color: var(--color-1);
  color: var(--white-color);
}
.school-details .inner .sd-right .sdr-container {
  width: 100%;
  height: auto;
  max-height: calc(100% - 35px);
  overflow-y: auto;
}
.school-details .inner .sd-right .sdr-container .table .row {
  display: flex;
  align-items: center;
}
.school-details .inner .sd-right .sdr-container .table .row img {
  width: 35px;
  height: 35px;
  border: 1px solid var(--grey-color-2);
  border-radius: 100%;
  padding: var(--size-02);
  margin-right: var(--size-03);
}
.school-details .inner .sd-right .sdr-container .table .row span {
  font-size: var(--size-1);
  font-weight: 700;
}
.school-details .inner .sd-right .sdr-container .table .btn-action {
  background-color: var(--black-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
.school-details .inner .sd-right .sdr-container .search-box {
  width: 100%;
  display: flex;
  padding: var(--size-07) 0;
}
.school-details .inner .sd-right .sdr-container .search-box .input-div {
  margin: 0;
}
.school-details .inner .sd-right .sdr-container .search-box .button {
  background-color: var(--color-1);
}
.school-details .inner .sd-right .sdr-container .contacts {
  width: 100%;
  display: block;
}
.school-details .inner .sd-right .sdr-container .contacts .t-2 {
  color: var(--grey-color-1);
}
.school-details .inner .sd-right .sdr-container .contacts .contact-channels {
  display: flex;
  margin-bottom: var(--size-1);
}
.school-details
  .inner
  .sd-right
  .sdr-container
  .contacts
  .contact-channels
  .button {
  color: var(--color-4);
  margin-right: var(--size-05);
}
.school-details
  .inner
  .sd-right
  .sdr-container
  .contacts
  .contact-channels
  .button.selected {
  background-color: var(--color-2);
  color: var(--white-color);
}
.school-details .inner .sd-right .sdr-container .contacts .sending-box {
  width: 100%;
  text-align: center;
}
.school-details .inner .sd-right .sdr-container .contacts .sending-box .button {
  width: 50%;
  background-color: var(--color-1);
}
.school-details .inner .sd-right .sdr-container .table thead tr {
  background-color: var(--grey-color-2);
}
.school-details .inner .sd-right .sdr-container .table .button {
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: var(--size-07);
  margin: 0 var(--size-02);
}
/* Outer */
.school-details .outer {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: var(--size-1);
}
.school-details .outer .wrapper {
  width: 50%;
  background-color: var(--white-color);
  border-radius: var(--size-05);
  margin: auto;
  padding: var(--size-05);
}
.school-details .outer .wrapper .ow-head {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.school-details .outer .wrapper .ow-head .t-2 {
  margin: 0;
  font-size: var(--size-1);
  font-weight: 600;
}
.school-details .outer .wrapper .ow-head span {
  cursor: pointer;
  font-size: var(--size-2);
}
.school-details .outer .wrapper hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--grey-color-2);
  margin: var(--size-05) 0;
}
.school-details .outer .wrapper .ow-body {
  width: 100%;
  display: block;
}
